*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 1em sans-serif;
    background-image: linear-gradient(to right,#f13e6d,#7944c7);
}

.navbar{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    font: sans-serif;
    font-weight: 900;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1.25fr;
}

.menu{
    display: flex;
    justify-content: center;
    background-color: #ffc600;
    align-items: center;
    height: 50px;
    font-weight: 900;


}


.icon{
    display:none;
}

.container-1{
    display: grid;
    margin: 20px 20px;
    position: relative;
    grid-template-columns: 1fr 1fr;
    font-weight: 900;
    
}

.container-1 img{
    width: 55rem;
    height: 25rem;
}

.img-text{
    position: absolute;
    top: 12rem;
    left: 2rem;
    color: black;
    display: grid;
    grid-row-gap: 20px;
}
.img-text-txt-1  {
    padding: 5px 5px;
    background-color: #ffc600; 
    font-size: 20px;
    justify-content: center;
}

.img-text-txt-2  {
    padding: 5px 5px;
    background-color: #ffc600; 
    justify-content: center;
    width: fit-content;
}


.price {
    display: flex;
    flex-direction: column;
    gap:15px;
    font-family: 'Rubik', sans-serif;
    font-style: sans-serif;
    
}

.price h1{
    font-family: 'Rubik', sans-serif;
    font-style: sans-serif;
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 2px;

}

.price-1{
    background-color: #ffc600;
    margin-left: 20px;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.price-2{
    
    background-color: #ffc600;
    margin-left: 20px;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.food-card{
    display: flex;
    gap:10px;
    padding-left: 20px;
    text-align: center;
    
}

.food-card h4{
    padding-top: 10px;
}

.beer h4{
    padding-top: 0px;
}

.card-food{
    margin-right: 20px;
    background-color: white;
    width:25%;
    height: 22vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

.container-2 {
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: aliceblue;

}

.container-2 img{
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.text-block-2{
    margin-top: 50px;
    
}

.text-block-2 p{
    margin-top: 8%;
    
}

.button{
    background-color:#ffc600;
    width: 45%;
    padding: 15px 1px 20px 30px;
    margin-top: 50px;
}

.container-3{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    
}

.container-3 >*{
    flex: 1 1 1  40%;
    height: 30vh;
}
.line{
    display: flex;

}


.line
    #line-1 {
        margin-top: 20px;
        height: 100px;
        background-color: #ffc600;
        background-image: linear-gradient(90deg,#f13e6d , transparent);
        
        border: 0px;
        height: 10px;
        width: 50%;

        
    
}

.line #line-2
    {
        margin-top: 20px;
        height: 100px;
        background-color: #7944c7;
        background-image: linear-gradient(90deg,#ffc600, transparent);
        
        border: 0px;
        height: 10px;
        width: 50%;
    
}

.line p{
    display: inline-block;
    white-space: nowrap;
    padding-top: 15px;
    margin-left: 30px;
    padding-right: 30px;
    font-family: 'Rubik', sans-serif;
    font-style: sans-serif;
    font-weight: 900;
    font-size: 20px;
}


@media (max-width:1063px) {
    
    
.container-1{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
}


.container-1 img{
    width: 100%;
    height: 25rem;
    display: flex;
}

.price-1{
    background-color: #ffc600;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.price-2{
    
    background-color: #ffc600;
    margin-left: 00px;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.card-food{
    margin-right: 20px;
    background-color: white;
    width:25%;
    height: 30vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

}

@media (max-width:783px){
    .food-card{
       width: 100%; 
       flex-wrap: wrap;
    }
    .food-card >*{
        flex: 2 40%;
        

    }

    .price-1{
        margin-top: 10px;
        width: 50%;
    }

    .price-2{
        margin-top: 10px;
        width: 47%;
    }

    .price {
        padding: 10px 10px ;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .price *>{
        flex: 2 100%;
    }
}

@media (max-width:683px){

    .button{
        font-size: 10px;
        margin-left: 10px;
    }

    .text-block-2{
        font-size: 10px;
    }

    p{
        font-size: 10px;
    }

}

@media (max-width:600px){


    .container-2 img{
        width: 50%;
        
    }

    .container-2{
        font-size: 2px;
    }

    .button{
        font-size: 20px;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }

    .food-card{
        display: flex;
        flex-direction: column;
        

    }

    .card-food{
        width: 96%;
        margin-right: 20px;
    }
    .container-3{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    .price-1{
        margin-top: 10px;
        width: 47%;
    }

    .price-2{
        margin-top: 10px;
        width: 47%;
    }

    .price {
        padding: 10px 10px ;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .price *>{
        flex: 2 90%;
    }

    .food-card{
        width: 100%; 
        flex-wrap: wrap;
        flex-direction: row;
     }
     .food-card >*{
         flex: 2 30%;
         
 
     }
     .container-2{
        display: flex;
        margin: 20px 20px;
        flex-direction: column;

        
        
    }

    .text-block-2{
        justify-content: center;
        align-items: center;
        margin-left: 20%;
        margin-bottom: 20%;

    }
    .text-block-2 h1{
        font-size: 30px;
        
    }
    
    .container-2 img{
        width: 100%;
        height: auto;
    }

    .menu{
        display: none;
    }

    .icon{
        display: flex;
        width: 30%;
    }




}